:root {
    --custo: #004443;
    --custo1: #368783
  } 

html {
    scroll-behavior: smooth;
  }
body {
    background: #f1fbff!important;
}
.header-nav{
    background: var(--custo)!important;
}

@media (min-width:768px){
.header-nav{
padding: 6px 0;
height: 65px;
position: fixed;
left: 0;
top: 0;
right: 0;
transition: all 0.5s;
z-index: 997;
/* background: rgba(47,77,90,.85);    */
background: var(--custo)!important;
}
.navbar-nav{
    background: radial-gradient(circle, rgb(131 128 128 / 90%) 0%, var(--custo) 100%)!important;
    border-radius: 5px;
}
}
.nav-content{
    background: none!important;
}

/* @media (min-width: 600px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}} */
@media (max-width:420px){
    .carousel-caption h1{
        display: none!important;
    }
}
/* @media (min-width:768px){
    .nav-content{
        background:rgba(200,221,245,100);
        border-radius: 5px;
    }
} */

.navbar-nav li a{
color: #fff!important;
font-size: 18px;
}
.navbar-toggler{
    background: #eaeced!important;
}

/* @media (max-width:768px){
     .header-nav{
        background: radial-gradient(circle, rgb(172 45 101) 0%, rgba(3,46,98,1) 100%)!important;
        }
} */
.img-fluid{
    width:270px;
}
@media (max-width:350px){
    .img-fluid{
        width: 200px;
    }
}
@media (min-width:768px) and (max-width:898px){
    .navbar-nav li a{
        font-size: 15px!important;
    }
    .header-nav .img-fluid{
        width:260px!important;
    }
}

.navbar-toggler{
    padding:2px 4px!important;
}
.section-padding {
    padding: 4.5rem 0;
}
.fsection-padding {
    padding: 100px 0 0;
}
.fsection-padding p {
    margin-bottom: 0!important;
}
@media (width>481px){
    #about p{
        text-align: justify;
    }
    }
@media (width<481px){
#about p{
    text-align: center;
}
}
.services .card-body svg {
    font-size: 50px;
}
.team .card-body svg {
    font-size: 20px;
}
.card-body img{
    width:100px;
    height:100px;
}
#team .card{
    background: rgba( 255, 255, 255, 0.25 )!important;
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    /* background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40); */
}
/* .card:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
} */
/* #contact button{
    margin-top:5px;
} */
/* .footer-info{
    background: #565b86;
} */
#services .card{
        background-color:rgba(0, 68, 64, 1)!important;
}
#about li{
    text-align: initial;
}
.modal-header{
    justify-content: center!important;
}
.modal {
    /* --bs-modal-width: 1500px!important; */
    --bs-modal-header-padding: 0.5rem 0.5rem!important;
    --bs-modal-padding: 0.5rem!important;
}
.modal .btn-close{
    display: none;
}
.modal-header{
    background: var(--custo);
    color: #fff;
    border-bottom: none!important;
}
.modal-footer{
    background: var(--custo)!important;
    border-top: var(--custo)!important;
}
.modal-body{
    /* background: url(../img/modal-bg.jpg); */
    background: var(--custo);
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.modal-body li{
    color:#fff;
    padding:5px 0;
    font-size: 1.5rem;
    font-family: serif;
}
.about-img .img-fluid{
    width: auto !important;
    height: 100%;
}
.copyright{
    padding:10px 0;
}
.about-img{
    width: 100%;
    border: 3px solid var(--custo1);
    background: var(--custo1);
    margin: auto;
    padding: 5px 5px;
    -webkit-box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.75);
}
#footer{
    background: #003e3b;
    color:#fff;
}
#footer .footer-top .footer-info {
    margin-top: -90px;
    margin-bottom: 15px;
    /* background: #33355d; */
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    background: rgba(0, 37, 38, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 37, 38, 0.8);
}
#footer .footer-top {
    padding: 60px 0 10px 0;
}
.contact .map-hm-rht {
    box-shadow: 0 0 10px rgba(214, 215, 216, 0.6);
    padding: 10px;
    background: #fff;
}
.contact-bg{
    background: var(--custo);
    padding:1.5rem;
    border-radius: 5px;
}
#contact .git-lbl{
    color:#fff;
}
#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    line-height: 1;
    text-decoration: none;
}
#footer .footer-top .footer-links ul a:hover {
    color: #0035f3;
    transition: 0.3s;
    /* box-shadow: 2px 2px 10px 5px #ffffff;
    background: #ffffff; */
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2f4d5a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    color: #0035f3;
    transition: 0.3s;
}
#footer .footer-top .c-details a{
    color:#fff;
    text-decoration: none;
}
#footer .footer-top .c-details a:hover{
    color:#053bff;
    transition: 0.3s;
}
/* #team .socials a {
    display: inline-block;
    background-color: #5c2b5f;
    color:#fff;
    width: 30px;
    height: 30px;
    line-height: 1;
    padding:5px 0;
    margin: 0 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
} */

button.bg-rms {
    background: #e5e5e5!important;
    color: #004440!important;
}
button.bg-rma{
    background: var(--custo1)!important;
    color:#f1fbff!important
    }
    .services{
        overflow: hidden;
    }
.border-client{
        border-style: solid;
    -o-border-image: -o-linear-gradient(right, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: -webkit-gradient(linear, right top, left top, color-stop(1%, rgba(180,210,255,0)), color-stop(50%, #c7d9f5), to(rgba(180,210,255,0))) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: linear-gradient(to left, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    }
@media (min-width: 768px){
    .navbar-nav {
        background: #322e46;
        border-radius: 5px;
    }
}
.fa-house, .fa-print, .fa-address-book{
    vertical-align: baseline;
}
.border-heading{
    border-style: solid;
    -o-border-image: -o-linear-gradient(right, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: -webkit-gradient(linear, right top, left top, color-stop(1%, rgba(180,210,255,0)), color-stop(50%, #c7d9f5), to(rgba(180,210,255,0))) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: linear-gradient(to left, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
}
#about h2, #contact .border-heading h2{
    color:var(--custo1);
}
#services h2{
    color:#004440
}
.lead{
    font-family: serif;
}
#team h2{
    color:#474849;
}
.team .socials a{
    vertical-align: text-bottom;
    color: #3f3d3d;
    text-decoration:none;
}
.team .socials a:hover{
    color: #0066fe;
    transition: 0.3s;

}
.cf-section{
    background: #fff;
}
#about .btn:hover, #services .btn:hover {
    background: #e3e5ef!important;
    box-shadow: 6px 4px 2px 2px #008967f8;
    color: #000000!important;
}
#services .btn:hover {
    background: #fff!important;
    box-shadow: 6px 4px 2px 2px #008967f8;
    color: #000000!important;
}
.modal .btn:hover{
    color: #fff;
    background-color: #b80000;
    border-color: #b80000;
}
#contact .btn-smt{
    color: #fff;
    background-color: var(--custo);
}
#contact .btn-smt:hover{
    color: #fff;
    background-color: #0700dd;
    /* box-shadow: 6px 4px 2px 2px #a9a1a1; */
}

/* nav links ani */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
.header-nav ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .header-nav ul li a:hover {
    color: #fff;
  }
  
  .header-nav ul li a:before {
    background: #fff;
    content: '.';
    color: transparent;
    position: absolute;
    width: 500%;
    top: 100px;
    right: 300px;
    height: 300px;
    z-index: -1;
  }
  .header-nav ul li a:hover:before {
    left: auto;
    bottom: auto;
    right: -50%;
    top: 0;
    background: #004440;
  }

/* nav links ani */
 #carousal h1{
font-family: 'Oswald', sans-serif;
font-size: 30px;
letter-spacing: 10px;
color: #fff;
text-transform: uppercase;
opacity: 0.9;
} 
@media (width<=767px){
    #footer .footer-links h4{
        text-align: center;
    }
    #footer .footer-links ul{
        width:30%;
        margin:auto!important;
    }
    #footer .border-headingfl{
        border-style: solid;
        -o-border-image: -o-linear-gradient(right, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
        border-image: -webkit-gradient(linear, right top, left top, color-stop(1%, rgba(180,210,255,0)), color-stop(50%, #c7d9f5), to(rgba(180,210,255,0))) 100% 0 100% 0/1px 0 1px 0 stretch;
        border-image: linear-gradient(to left, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    }
}
@media (width>420px){
    #footer .footer-links ul li{
        white-space: nowrap;
    }
}
/* @media (max-width: 767px) {
    .pr-0 {
        padding-right:0!important;
    }
} */

/* #team .socials a, #team .socials a:before, #team .socials .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

#team .socials a.facebook:before {
    background-color: #3b5998;
}
#team .socials a:before{
content: '';
width: 120%;
height: 120%;
position: absolute;
transform: rotate(45deg);
top: 90%;
left: -110%;
} */



.parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; 
    position: relative; width: 100%;
     background-image: url(../img/carousal1.jpg); background-attachment: fixed; background-size: cover; -moz-background-size: cover; 
    -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;
}
@media (max-width:767px){
    .parallax-one {
    padding-top: 100px;
    padding-bottom: 100px;
    }
}
 lottie-player{
    background:transparent;
    height: 300px;
 }
.map-hm-rht iframe{
    border:0;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--custo);
}

/* nav scroll show/hide */
@media (width<768px){

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
      
}