body {
    background: #f1fbff!important;
}
.header-nav{
    background: rgb(0 15 29 / 80%);
}

@media (min-width:769px){
.body-ns .header-nav{
padding: 6px 0;
height: 65px;
position: fixed;
left: 0;
top: 0;
right: 0;
transition: all 0.5s;
z-index: 997;
/* background: rgba(47,77,90,.85);    */
background: radial-gradient(circle,rgb(100 41 96) 0%, rgb(30 58 92) 100%)!important;
}
}
.body-ns .nav-content{
    background: none!important;
}

/* @media (min-width: 600px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}} */
@media (max-width:420px){
    .carousel-caption h1{
        display: none!important;
    }
}
/* @media (min-width:768px){
    .nav-content{
        background:rgba(200,221,245,100);
        border-radius: 5px;
    }
} */

.body-ns .navbar-nav{
    background: radial-gradient(circle,rgb(100 41 96) 0%, rgb(30 58 92) 100%)!important;
    border-radius: 5px;
}

.navbar-nav li a{
color: #ccc!important;
font-size: 20px;
}
.navbar-toggler{
    background: #eaeced!important;
}

@media (max-width:768px){
     .header-nav{
        background: radial-gradient(circle, rgb(172 45 101) 0%, rgba(3,46,98,1) 100%)!important;
        }
}
.img-fluid{
    width:270px;
}
@media (max-width:350px){
    .img-fluid{
        width: 200px;
    }
}
.navbar-toggler{
    padding:2px 4px!important;
}
.section-padding {
    padding: 100px 0;
}
.fsection-padding {
    padding: 100px 0 0;
}
.fsection-padding p {
    margin-bottom: 0!important;
}
.services .card-body svg {
    font-size: 50px;
}
.team .card-body svg {
    font-size: 20px;
}
.card-body img{
    width:100px;
    height:100px;
}
.card{
    background: rgba( 255, 255, 255, 0.25 )!important;
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#contact{
    padding:10px 0 80px;
    background: #3d325e;
    color:#fff;
}
/* .footer-info{
    background: #565b86;
} */
#about li{
    text-align: initial;
}

.modal {
    /* --bs-modal-width: 1500px!important; */
    --bs-modal-header-padding: 0.5rem 0.5rem!important;
    --bs-modal-padding: 0.5rem!important;
}
.modal-header{
    background: #3c6b76;
    color: #cdcbf2;
    border-bottom: none!important;
}
.modal-footer{
    background: #3c6b76!important;
    border-top: #3c6b76!important;
}
.modal-body{
    background: url(../img/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-body li{
    color:#ffffff;
    padding:5px 0;
    font-size: 1.5rem;
}
.about-img .img-fluid{
    width: auto !important;
    height: 100%;
}
.copyright{
    padding:10px 0;
}
.about-img{
    width: 100%;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 5px 5px;
    -webkit-box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 9px 13px 1px rgba(0,0,0,0.75);
}
#footer{
    background: #2c1b56;
    color:#fff;
}
#footer .footer-top .footer-info {
    margin-top: -90px;
    margin-bottom: 15px;
    /* background: #33355d; */
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    background: rgba(91, 43, 95, 0.80);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(72, 44, 44, 0.3);
}
#footer .footer-top {
    padding: 60px 0 10px 0;
}
.contact .map-hm-rht {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}
#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2f4d5a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#team .socials a {
    /* color: #7b3177; */

    display: inline-block;
    background-color: #5c2b5f;
    color:#fff;
    width: 30px;
    height: 30px;
    line-height: 1;
    padding:5px 0;
    margin: 0 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
}
button.bg-rms {
    background: #6e386c!important;
    color: #f1fbff!important;
}
button.bg-rma{
    background: #71b8b4!important;
    }
    .services{
        overflow: hidden;
    }
    .border-client{
        border-style: solid;
    -o-border-image: -o-linear-gradient(right, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: -webkit-gradient(linear, right top, left top, color-stop(1%, rgba(180,210,255,0)), color-stop(50%, #c7d9f5), to(rgba(180,210,255,0))) 100% 0 100% 0/1px 0 1px 0 stretch;
    border-image: linear-gradient(to left, rgba(180,210,255,0) 1%, #c7d9f5 50%, rgba(180,210,255,0) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;
    }
@media (min-width: 768px){
    .navbar-nav {
        background: #322e46;
        border-radius: 5px;
    }
}
    
/* #team .socials a, #team .socials a:before, #team .socials .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

#team .socials a.facebook:before {
    background-color: #3b5998;
}
#team .socials a:before{
content: '';
width: 120%;
height: 120%;
position: absolute;
transform: rotate(45deg);
top: 90%;
left: -110%;
} */



body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5e2d61;
}